{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{%static 'email_template.css'%}">
</head>
<body>

<div class="login-box">
  
    <div class="cover">
      <h1>Send A Message</h1>
      <form action="" method="POST" class="flex-form">
        {% csrf_token %}
        {{form}}
        <input value="send Email" type="submit">
      </form>
    </div>
  
  </div>
</body>
</html>