<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{%static 'email_template.css'%}">
</head>
<body>

<div class="login-box">
  
    <div class="cover">
        <h3>Mail Sent Successfully  </h3>
        <a class="link" href="{%url 'send'%}">Go Back</a>
    </div>
  
  </div>
</body>
</html>
</body>
</html>